{% extends 'base.html' %}
{% load static %}

{% block section %}
  <h2>
    {{ object.title }}
    {% if object.favorite %}
      &#9733;
    {% else %}
      &#9734;
    {% endif %}

    {% if object.category_id %}
      <a href="{% url 'category-detail' object.category_id %}">
        {{ object.category }}
      </a>
    {% endif %}
  </h2>

  <p> <strong>Comments: </strong>{{ object.comment|default:'No Comments' }}</p>
  <a href="{% url 'photo-update' object.id %}">Edit</a>
  <a href="{% url 'photo-delete' object.id %}">Delete</a>
{% endblock section %}

{% block maincontent %}
  <div>
    <div>
      <img src="{% static object.photo.url %}" style="width:550px;height:420px">
    </div>
  </div>
{% endblock maincontent %}
